.section1
    margin-top: 8em
    margin-bottom: 4em
    .about
        .row
            .col-4
                padding-bottom: 24em
                .who
                    position: relative
                    img 
                        position: absolute
                        z-index: -1
                        top: 50%
            .col-7
                text-align: center