body 
    font-family: BritannicBold
    nav 
        height: 15vh
        .container
            ul 
                li 
                    a 
                        position: relative
                        color: white
                        transition: width 0.5s color 0.5s
                    a:hover 
                        color: #f8c291
                    a:after 
                        content: ""
                        background-color: #f8c291
                        opacity: 1
                        width: 0
                        height: 2px
                        display: block
                        margin: auto 
                        transition: width 0.5s
                    a:hover:after
                        width: 100%
                        
