.section2
    height: 100vh
    .container
        .services
            .card-deck
                .card 
                    color: rgba(248,194,145, 0.8) 
                .card:hover
                    background-color: rgba(248,194,145, 0.8)
                    color: white 
        .portfolio
            .port
                .buts
                    .but
                        color: #f8c291
                        background-color: transparent 
                        border: 1px solid #f8c291
                    .but:hover
                        color: white
                        background-color: #f8c291
                        opacity: 0.8
        