.section2
    padding-top: 9vh
    .container
        .services
            h5 
                font-family: Nunito
            .card-deck
                .card 
                    color: rgba(248,194,145, 0.8) 
                .card:hover
                    background-color: rgba(248,194,145, 0.8)
                    color: white 
        .portfolio
            padding-top: 8vh
            .port
                h5 
                    font-family: Nunito
                .buts
                    .but
                        color: #f8c291
                        background-color: transparent 
                        border: 1px solid #f8c291
                    .but:hover
                        color: white
                        background-color: #f8c291
                        opacity: 0.8

            .folio
                flex-wrap: wrap
                div 
                    padding-left: 1em
                    padding-right: 1em
                    .content
                        
                        text-align: center
                        a 
                            position: relative
                            img 
                                opacity: 0.6 
                                transition: transform .2s, opacity .2s
                            img:hover
                                opacity: 1
                                transform: scale(1.05)
                            i 
                                z-index: 1
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%, -50%)
                                opacity: 0.8
                    .goto    
                        .stuff 
                            font-family: Nunito
                            font-size: 25px
                            text-decoration: none
                            color: #000000 
                        .stuff:hover
                            color: #f8c291     
                    
            
@media only screen and (max-width: 1024px)
    .section2 .container .portfolio .folio .foli
        margin-left: auto
        margin-right: auto
    .section2 .container .portfolio .folio div .content a img 
        width: 280px
@media only screen and (max-width: 768px)
    .section2 .container .services
        padding-bottom: 0 !important
    .section2 .container .services .card-deck .card .card-body
        padding: 1rem


@media only screen and (max-width: 400px)
    .section2
        margin-bottom: 0

    .section2 .container .services h5
        margin-bottom: 0 !important

    .section2 .container .services .card-deck .card i
        font-size: 3em !important

    .section2 .container .portfolio .folio
        justify-content: space-between
    .section2 .container .portfolio .folio div
        padding-left: 0
        padding-right: 0
    .section2 .container .portfolio .folio div .content a img 
        width: 160px
    .section2 .container .portfolio .folio div .goto .stuff
        font-size: 15px
    

@media only screen and (max-width: 340px)
    .section2 .container .portfolio .port .buts button 
        font-size: 13px
    .section2 .container .portfolio .folio div .content a img 
        width: 140px